/node_modules
/bower_components
/dist
/tooling/node_modules
/cypress/screenshots
/cypress/videos
/.tmp
.DS_Store
allure-results/
allure-report/
playwright-report/
test-results/
.idea/
__pycache__/
*.pyc
